@import "tailwindcss";

@source "../**/*.{css,js,ts,jsx,tsx,mdx}";

@theme {
  --breakpoint-xs: 550px;
  --breakpoint-de: 900px;
  --breakpoint-me: 1100px;
  --breakpoint-mx: 2000px;

  --color-primary: #ec4899;
  --color-secondary: #a236db;
  --color-tertiary: #d66bcf;
  --color-dark: #160b14;
  --color-light: #3a1f2e;
  --color-blue: #3b82f6;
  --color-green: #10b981;
  --color-red: #ef4444;
  --color-orange: #f97316;
  --color-yellow: #eab308;

  --height-nav-bar: 112px;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer components {
  body {
    @apply relative min-w-[375px];
  }

  main {
    @apply relative w-full;
  }

  button {
    @apply cursor-pointer disabled:cursor-auto;
  }

  figure {
    @apply select-none pointer-events-none;
  }

  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }

  .font-montserrat-alternates {
    font-family: "Montserrat Alternates", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold leading-tight;
  }

  h1 {
    @apply text-[36px] de:text-[48px];
  }

  h2 {
    @apply text-[28px];
  }

  h3 {
    @apply text-[24px];
  }

  h4 {
    @apply text-[20px];
  }

  h5 {
    @apply text-[16px];
  }

  h6 {
    @apply text-[14px];
  }

  .fade-in-0s {
    animation: fadeIn 0.5s ease-in 0s forwards;
    opacity: 0;
  }

  .fade-in-1s {
    animation: fadeIn 0.5s ease-in 1s forwards;
    opacity: 0;
  }

  .fade-in-2s {
    animation: fadeIn 0.5s ease-in 2s forwards;
    opacity: 0;
  }

  .fade-in-3s {
    animation: fadeIn 0.5s ease-in 3s forwards;
    opacity: 0;
  }

  .fade-in-4s {
    animation: fadeIn 0.5s ease-in 4s forwards;
    opacity: 0;
  }
}
